@model Eshop.Models.Product
@using Eshop.Helpers

@{
    ViewData["Title"] = "Details";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
	<div class="container">

		<!-- ============================ ITEM DETAIL ======================== -->
		<div class="row">
			<aside class="col-md-6">
				<div class="card">
					<article class="gallery-wrap">
						<div class="img-big-wrap">
							<div> <a href="#"><img src="~/assets/images/product/@Model.Image"></a></div>
						</div> <!-- slider-product.// -->
						<div class="thumbs-wrap">
							<a href="#" class="item-thumb"> <img src="~/assets/images/product/@Model.Image"></a>
						</div> <!-- slider-nav.// -->
					</article> <!-- gallery-wrap .end// -->
				</div> <!-- card.// -->
			</aside>
			<main class="col-md-6">
				<article class="product-info-aside">

					<h2 class="title mt-3"> @Html.DisplayFor(model => model.Name) </h2>

					<div class="rating-wrap my-3">
						<ul class="rating-stars">
							<li style="width:80%" class="stars-active">
								<i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
							<li>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
						</ul>
						<small class="label-rating text-muted">132 reviews</small>
						<small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
					</div> <!-- rating-wrap.// -->

					<div class="mb-3">
						<var class="price h4">@Model.Price.ToString("#,##0") đ</var>
					</div> <!-- price-detail-wrap .// -->

					<p>
						@Html.DisplayFor(model => model.Description)
					</p>

					<dl class="row">
						<dt class="col-sm-3">Giao hàng</dt>
						<dd class="col-sm-9">3-4 days</dd>

						<dt class="col-sm-3">Sản phẩm có sẵn</dt>
						<dd class="col-sm-9">@Html.DisplayFor(model => model.Stock)</dd>
					</dl>
					@*<form asp-action="AddToCart" asp-controller="Carts" asp-route-id="@Model.Id" >*@
					<div class="form-row  mt-4">
						<div class="form-group col-md flex-grow-0">
							<div class="input-group mb-3 input-spinner">
								@*<div class="input-group-prepend">
									<button class="btn btn-outline-primary js-btn-plus" type="button" > &plus; </button>
								</div>*@
								<input type="number" step="1" min="1" max="@Model.Stock" class="carousel-inner text-center" value="1" id="quantity" aria-label="none" aria-describedby="button-addon1">

								@*<div class="input-group-append">
										<button class="btn btn-outline-primary js-btn-minus" type="button"> &minus; </button>
								</div>*@
							</div>
						</div> <!-- col.// -->
						<div class="form-group col-md">
								<button type="button" class="ajax-add-to-cart buy-now btn btn-outline-primary" data-id="@Model.Id"> <i class="fa-solid fa-cart-shopping"></i> Thêm vào giỏ hàng </button>
							<a href="#" class="btn btn-light">
								<i class="fas fa-envelope"></i> <span class="text">Mua ngay</span>
							</a>
						</div> <!-- col.// -->
					</div> <!-- row.// -->
					@*</form>*@
				</article> <!-- product-info-aside .// -->
			</main> <!-- col.// -->
		</div> <!-- row.// 
		<!-- ================ ITEM DETAIL END .// ================= -->


	</div> <!-- container .//  -->
</section>


@section scripts{
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script>
		$(document).ready(function () {
			$(".ajax-add-to-cart").click(function () {
				$.ajax({
					url: "/Carts/AddToCart",
					data: {
						id: $(this).data("id"),
						quantity: $("#quantity").val(),
						type: "ajax"
					},
					success: function (data) {
						console.log(data);
						Swal.fire({
							position: 'top-end',
							icon: 'success',
							title: 'Đã thêm vào giỏi hàng!',
							showConfirmButton: false,
							timer: 1500
						})
						$("#cart_count").html(data.quantity)
					},
					error: function () {
						Swal.fire({
							icon: 'error',
							title: 'Chưa thêm vào giỏi hàng!',
							text: 'Vui lòng đăng nhập',
							showConfirmButton: false,
							timer: 1500
						})
					}
				});
			});
		})
	</script>
}