@model IEnumerable<Eshop.Models.Invoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <h2 class="text-center"> danh sách hóa đơn của @ViewBag.username</h2>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th class="text-center">
                chi tiết đơn hàng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td class="text-center">
                <a asp-action="InvoiceDetails" asp-route-id="@item.Id" class="btn btn-primary">Xem</a>
            </td>
        </tr>
}
    </tbody>
</table>
