@model IEnumerable<Eshop.Models.Product>
@{
    ViewData["Title"] = "Thông tin sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
 <section class="content">
      <div class="container-fluid">
        <div class="card-body">
                    <h1 class="text-center font-monospace">Thông tin sản phẩm </h1>

                    <p>
                        <a href="~/Admin/Products/Create">Thêm sản phẩm mới</a>
                    </p>
            <table class="table card-body">
                    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { controller = "Products", id = item.Id })|
                @Html.ActionLink("Details", "Details", new { controller = "Products", id = item.Id })|
                @Html.ActionLink("Delete", "Delete", new { controller = "Products", id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
       </div>
  </section>
</div>