@model Eshop.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Chỉnh sửa thông tin cá nhân</h4></header>
            @using (Html.BeginForm("Edit", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                </div>
                <div class="form-group">
                    @Html.LabelFor(temp => temp.Username)
                    @Html.TextBoxFor(temp => temp.Username, new { placeholder = "Username", @class="form-control"})
                    @Html.ValidationMessageFor(temp => temp.Username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(temp => temp.Password)
                    @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class="form-control"})
                    @Html.ValidationMessageFor(temp => temp.Password)
                </div>
                <div class="form-group">
                    @Html.LabelFor(temp => temp.ConfirmPassword)
                    @Html.PasswordFor(temp => temp.ConfirmPassword, new { placeholder = "ConfirmPassword", @class="form-control"})
                    @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(temp => temp.FullName)
                    @Html.TextBoxFor(temp => temp.FullName, new { placeholder = "FullName", @class="form-control"})
                    @Html.ValidationMessageFor(temp => temp.FullName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(temp => temp.Email)
                    @Html.TextBoxFor(temp => temp.Email, new { placeholder = "Email", @class="form-control"})
                    @Html.ValidationMessageFor(temp => temp.Email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(temp => temp.Phone)
                    @Html.TextBoxFor(temp => temp.Phone, new { placeholder = "Phone", @class="form-control"})
                    @Html.ValidationMessageFor(temp => temp.Phone)
                </div>

                <div class="form-group">
                    @Html.LabelFor(temp => temp.Address)
                    @Html.TextBoxFor(temp => temp.Address, new { placeholder = "Address", @class="form-control"})
                    @Html.ValidationMessageFor(temp => temp.Address)
                </div>
                <div class="form-group">
                    @Html.LabelFor(temp => temp.ImageFile)
                    @Html.EditorFor(temp => temp.ImageFile, new { placeholder = "Avatar", @class="form-control"})
                    @Html.ValidationMessageFor(temp => temp.ImageFile)
                </div>
                <button type="submit" class="btn btn-primary btn-block">Lưu</button>
                <p class="text-danger">@ViewBag.ErrorMsg</p>
            }
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
